.title{
    border: none;
    border-left: 5px solid rgb(39, 25, 90);
    border-right: 5px solid rgb(39, 25, 90);
    border-radius: 10px;
    width: 40%;
    height: auto;
    padding: 10px;
    justify-self: center;
    font-size: 20px;
}

.aboutMe{
    background: rgb(34, 34, 34,0.85);
    border: none;
    border-left: 5px solid rgb(39, 25, 90);
    border-right: 5px solid rgb(39, 25, 90);
    border-radius: 10px;
    width: 70%;
    height: auto;
    padding: 10px 30px 30px 30px;
    margin-bottom: 20px;
    justify-self: center;
    transition: all 200ms ease;
    user-select: text;
}

.aboutMe h3{
    text-align: center;
    justify-self: center;
    border-top:6px solid rgb(61, 39, 141);
    border-bottom:6px solid rgb(61, 39, 141);
    width: 250px;
    padding: 10px 0px 10px 5px;
    height: auto;
    border-radius: 5px;
}

.aboutMe:hover{
    box-shadow: 1px 1px 10px 5px rgb(58, 67, 189);
}

.botones{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
}