.title{
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 0px 40px 0px 40px;
    border-radius: 30px;
}
.contenedor{
    background: rgb(34, 34, 34,0.85);
    border: none;
    border-left: 5px solid rgb(39, 25, 90);
    border-right: 5px solid rgb(39, 25, 90);
    border-radius: 40px;
    width: auto;
    height: auto;
    padding: 0px 30px 30px 30px;
    margin-bottom: 20px;
    justify-self: center;
    transition: all 200ms ease;
    user-select: text;
}

.App{
    border: none;
    display: flex;
    flex-direction: row;
}

.contact_item img{
    margin-bottom: 0px;
    padding: 0px 15px 0px 15px;
    cursor: pointer;
}

.contact_item{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    align-items: center;
    color:#ffffff;
    padding: 10px;
    transition: all 250ms ease;
}

.contact_item:hover{
    scale: 1.1;
}

